body {
  background: #F3DCD4;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #F3DCD4;
/*   border-bottom:30px solid #F3DCD4 */
  padding-bottom:25px;
  border: 1px solid black;
}

.site-header .navbar-nav .nav-link {
  color: #000000;
  margin-top: 3%;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
/*   color: #428bca; */
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Home Page */
.home_img{
  background-image: url("book.gif");
  background-color: #ba5d5d;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home_button{
  background-color: #C1C2B4;
  padding: 6px;
  margin-right: 10px;
  text-decoration: none;
}


.home_button2{
  background-color: #C1C2B4;
  margin-top:10px;
  padding: 6px;
}


/* style background of search bar */
.searchnav {
  overflow: hidden;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Style the search box inside the navigation bar */
.searchnav input[type=text] {
  text-align: center;
  width: 80%;
  padding: 6px;
  border: none;
  margin-top: 8px;
/*   margin-right: -105px; */
/*   margin-right: 16px; */
  font-size: 17px;
  background-color: #F3DCD4;
}

.dcontent_home{
/*   position: absolute; */
  right: 150px;
  width: center;
/*   width: 680px; */
/*   height: 120px; */
  text-align:center;
}

.dcontent_home a{
  color: black;
/*   padding: 2px 16px; */
  text-decoration: none;
}

.book_button{
    border: 0px;   
/*     width; 200px; */
    background-color: #C1C2B4;

}

.books{
  margin-top:2%;
  text-align:center;  
}

.textbooks{
  margin-top:5%;
  text-align:center;
}

/* Slideshow container */
.slide_show_container {
/*   position: absolute; */
  max-width: 1000px;
  position: relative;
  margin: auto;
/*   overflow: hidden; */
/*   white-space:nowrap; */
}


.slide_fade {
  display: none;
  text-align: center;
}


.right {
  float: right;
  background-color: #C1C2B4;
  color: #896363;
  top: 50%;
  width: auto;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  margin-top: 10%;
}

.left {
  float: left;
  background-color: #C1C2B4;
  color: #896363;
  top: 50%;
  width: auto;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  margin-top: 10%;
}

/* On hover, add a black background color with a little bit see-through */
.left:hover, .right:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.slide_fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide_show_container_textbook{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slide_fade2 {
  display: none;
  text-align: center;
}

.Mission{
  margin-top: 5%;
  background-color: #C1C2B4;
  text-align:center;
  text-emphasis-color: black;
}

/* SEARCH PAGE */
.top_search{
    margin-top:8%;
    margin-bottom:8%;
}
/* style background of search bar */
.searchbar {
/*   overflow: hidden; */
  text-align: center;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
/*   background-color: #C1C2B4; */
}
.searchbar_button{
  background-color: #C1C2B4;
  color: black;
  padding: 10px;
  border-color:black
  margin-bottom: 16px;
}
/* Style the search box inside the navigation bar */
.searchbar input[type=text] {
  width: 70%;
  padding: 10px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: 1px solid black;
/*   border-color:black; */
/*   background-color: #C1C2B4; */
}

.drop-down{
  position: relative;
  display: inline-block; 
}
.drop-down-button{
  background-color: #C1C2B4;
  width: 80px;
  color: black;
  padding: 10px;
  border-color:black
  text-align:left;
  position: absolute;
  right: 340px;
  margin-top: 7px;
 
}
.dcontent{
  display: none;
  position: absolute;
/*   margin-left: -47px; */
  text-align:center;
  right: 330px;
  margin-top: 60px;
/*   background-color: #C1C2B4; */
}
.dcontent a{
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;

}

.drop-down:hover .dcontent {display: block;}

.book_button{
    border: 0px;   
/*     width; 200px; */
    background-color: #C1C2B4;

}

.book_cover_button{
  margin-left:20px;
  margin-bottom:20px;
  background-color:#fff9f9;
}

.book-container{
/*    margin-top:40%; */
   float: left;
}

.book_cover{
  float: left;
  border-radius: 12px;
  height:300px; 
  width:200px; 


}

.book_collection{
    margin-top:25%;
}

/* .book-container1111{
   float: left;
   background-color:green;
} */


/* GENERAL BOOK PAGE */
.general_page{
    margin-top:20%;
    text-align:center;
    
}

/****************USER_PAGE**************/
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v42_58 {
  width: 100%;
  height: 2389px;
  background: rgba(243,220,212,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v97_8 {
  width: 100%;
  height: 656px;
  background: url("../images/v97_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 45px;
  overflow: hidden;
}
.v97_7 {
  width: 100%;
  height: 656px;
  background: rgba(209,207,192,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_60 {
  width: 252px;
  height: 233px;
  background: rgba(194,194,180,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 526px;
  border-radius: 50%;
}
.v42_64 {
  width: 100%;
  height: 338px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 868px;
  left: 20px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v42_65 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 804px;
  left: 45px;
  font-family: Sahitya;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v42_66 {
  width: 250px;
  height: 209px;
  background: rgba(56,87,121,1);
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 111px;
  border-radius: 50%;
}
.v42_67 {
  width: 197px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 428px;
  left: 129px;
  font-family: Sahitya;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v42_68 {
  width: 250px;
  height: 209px;
  background: rgba(56,87,121,1);
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 1057px;
  border-radius: 50%;
}
.v42_69 {
  width: 296px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 428px;
  left: 1034px;
  font-family: Sahitya;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v42_70 {
  width: 392px;
  height: 52px;
  background: url("../images/v42_70.png");
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 508px;
  border-radius: 50%;
}
.v97_9 {
  width: 386px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 474px;
  left: 504px;
  font-family: Sahitya;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v97_10 {
  width: 386px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 449px;
  left: 504px;
  font-family: Sahitya;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}

.v103_2 {
  width: 194px;
  height: 250px;
  background: rgba(194,194,180,1);
  opacity: 1;
  position: absolute;
  top: 906px;
  left: 375px;
  overflow: hidden;
}
.v103_4 {
  width: 194px;
  height: 250px;
  background: rgba(194,194,180,1);
  opacity: 1;
  position: absolute;
  top: 906px;
  left: 869px;
  overflow: hidden;
}
.v103_5 {
  width: 194px;
  height: 250px;
  background: rgba(194,194,180,1);
  opacity: 1;
  position: absolute;
  top: 906px;
  left: 1116px;
  overflow: hidden;
}
.v103_3 {
  width: 194px;
  height: 250px;
  background: rgba(194,194,180,1);
  opacity: 1;
  position: absolute;
  top: 906px;
  left: 622px;
  overflow: hidden;
}
.vbook_clublist {
  width: 100%;
  height: 338px;
  background: rgba(0,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1300px;
  left: 28px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}

.v103_9 {
  width: 194px;
  height: 250px;
  background: rgba(194,194,180,1);
  opacity: 1;
  position: absolute;
  top: 906px;
  left: 128px;
  overflow: hidden;
}
.v103_12 {
  width: 194px;
  height: 250px;
  background: rgba(194,194,180,1);
  opacity: 1;
  position: absolute;
  top: 1338px;
  left: 383px;
  overflow: hidden;
}
.v103_11 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1236px;
  left: 53px;
  font-family: Sahitya;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v103_13 {
  width: 194px;
  height: 250px;
  background: rgba(194,194,180,1);
  opacity: 1;
  position: absolute;
  top: 1338px;
  left: 630px;
  overflow: hidden;
}
.v103_15 {
  width: 194px;
  height: 250px;
  background: rgba(194,194,180,1);
  opacity: 1;
  position: absolute;
  top: 1338px;
  left: 1124px;
  overflow: hidden;
}
.v103_14 {
  width: 194px;
  height: 250px;
  background: rgba(194,194,180,1);
  opacity: 1;
  position: absolute;
  top: 1338px;
  left: 877px;
  overflow: hidden;
}

.v103_18 {
  width: 194px;
  height: 250px;
  background: rgba(194,194,180,1);
  opacity: 1;
  position: absolute;
  top: 1338px;
  left: 136px;
  overflow: hidden;
}
