body {
  background: #F3DCD4;
  color: #000000;
  margin-top: 5rem;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  color: #116466;
}

.bg-steel {
  background-color: #F3DCD4;
/*   border-bottom:30px solid #F3DCD4 */
  padding-bottom:25px;
  border: 1px solid black;
}

.site-header .navbar-nav .nav-link {
  color: #000000;
  margin-top: 3%;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
/*   color: #428bca; */
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Home Page */
.home_img{
  background-image: url("book.gif");
  background-color: #ba5d5d;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home_button{
  background-color: #C5CBE3;
  padding: 6px;
  margin-right: 10px;
  text-decoration: none;
}


.home_button2{
  background-color: #C5CBE3;
  margin-top:10px;
  padding: 6px;
}


/* style background of search bar */
.searchnav {
  overflow: hidden;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Style the search box inside the navigation bar */
.searchnav input[type=text] {
  text-align: center;
  width: 80%;
  padding: 6px;
  border: none;
  margin-top: 8px;
/*   margin-right: -105px; */
/*   margin-right: 16px; */
  font-size: 17px;
  background-color: #F3DCD4;
}

.dcontent_home{
/*   position: absolute; */
  right: 150px;
  width: center;
/*   width: 680px; */
/*   height: 120px; */
  text-align:center;
}

.dcontent_home a{
  color: black;
/*   padding: 2px 16px; */
  text-decoration: none;
}

.book_button{
    border: 0px;   
/*     width; 200px; */
    background-color: #C5CBE3;

}

.books{
  margin-top:5%;
  text-align:center;  
}

.textbooks{
  margin-top:5%;
  text-align:center;
}

/* Slideshow container */
.slide_show_container {
/*   position: absolute; */
  max-width: 1000px;
  position: relative;
  margin: auto;
/*   overflow: hidden; */
/*   white-space:nowrap; */
}


.slide_fade {
  display: none;
  text-align: center;
}


.right {
  float: right;
  background-color: #C5CBE3;
  color: #896363;
  top: 50%;
  width: auto;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  margin-top: 10%;
}

.left {
  float: left;
  background-color: #C5CBE3;
  color: #896363;
  top: 50%;
  width: auto;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  margin-top: 10%;
}

/* On hover, add a black background color with a little bit see-through */
.left:hover, .right:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.slide_fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide_show_container_textbook{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slide_fade2 {
  display: none;
  text-align: center;
}

.Mission{
  margin-top: 5%;
  background-color: #C1C2B4;
  text-align:center;
  text-emphasis-color: black;
}
.to_register{
  margin-top: 5%;
  background-image: url("open_book.jpg");
  background-color: #ba5d5d;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align:center;
}

.to_register{
  margin-top: 5%;
  background-image: url("open_book.jpg");
  background-color: #ba5d5d;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.toregister_button{
  position: absolute;
  font-size: 1.2rem;
/*   top: 50%;
  left: 50%; */
  top: 50%;
  left:20%;
  height: 90px;
  min-width: 90px;
  background-color: #C5CBE3;  
  border-radius: 2%;
/*   line-height: 180px; */
  text-align: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: black;
}
.toregister_button:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
.tologIn_button{
  position: absolute;
  font-size: 1.2rem;
/*   top: 50%;
  left: 50%; */
  top: 30%;
  left:20%;
  height: 90px;
  min-width: 90px;
  background-color: #C5CBE3;  
  border-radius: 2%;
/*   line-height: 180px; */
/*   text-align: center; */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: black;
}
.tologIn_button:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.to_bsellers{
  margin-top: 5%;
  background-image: url("books.jpg");
  background-color: #ba5d5d;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;   
}

/* SEARCH PAGE */
.top_search{
    margin-top:8%;
    margin-bottom:8%;
}
/* style background of search bar */
.searchbar {
/*   overflow: hidden; */
  text-align: center;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
/*   background-color: #C1C2B4; */
}
.searchbar_button{
  background-color: #C5CBE3;
  color: black;
  padding: 10px;
  border-color:black
  margin-bottom: 16px;
}
/* Style the search box inside the navigation bar */
.searchbar input[type=text] {
  width: 70%;
  padding: 10px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: 1px solid black;
/*   border-color:black; */
/*   background-color: #C1C2B4; */
}

.drop-down{
  position: relative;
  display: inline-block; 
}
.drop-down-button{
  background-color: #C5CBE3;
  width: 80px;
  color: black;
  padding: 10px;
  border-color:black
  text-align:left;
  position: absolute;
  right: 340px;
  margin-top: 7px;
 
}
.dcontent{
  display: none;
  position: absolute;
/*   margin-left: -47px; */
  text-align:center;
  right: 330px;
  margin-top: 60px;
/*   background-color: #C1C2B4; */
}
.dcontent a{
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;

}

.drop-down:hover .dcontent {display: block;}

.book_button{
    border: 0px;   
/*     width; 200px; */
    background-color: #C5CBE3;

}

.book_cover_button{
  margin-left:20px;
  margin-bottom:20px;
  background-color:#fff9f9;
}

.book-container{
/*    margin-top:40%; */
   float: left;
}

.book_cover{
  float: left;
  border-radius: 12px;
  height:300px; 
  width:200px; 


}

.book_collection{
    margin-top:25%;
}

/* .book-container1111{
   float: left;
   background-color:green;
} */


/* GENERAL BOOK PAGE */
.general_page{
    margin-top:20%;
    text-align:center;
    
}

/****************USER_PAGE**************/
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.user_back_img {
  margin: auto;
  margin-top: 132px;
  width: 90%;
  height: 656px;
  background: rgba(209,207,192,1);
  opacity: 1;
  padding: 10px;
    
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
    
}


/*Hold centered profile info*/
.profile_class{
  margin: 0 auto;
  width: 252px;
  height: 233px;
  /*Temp to see positioning*/
  /*background: rgba(50,50,50,1);*/
  opacity: 1;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

/* Hold favorite images */
div.second_row{
  /*Temp to see positioning*/
  /*background: rgba(0,50,50,1);*/
  opacity: 1;

}

/*Hold centered Favorite genre*/
.fav_genre_class{
  width: 252px;
  height: 233px;
  float: right
  /*Temp to see positioning*/
  background: rgba(50,50,50,1);
  opacity: 1;
  margin-left: auto

  overflow: hidden;
}

/*Hold centered topic genre*/
.fav_topic_class{
  width: 252px;
  height: 233px;
  float: left
  /*Temp to see positioning*/
  background: rgba(50,50,50,1);
  opacity: 1;

  overflow: hidden;
}

.round_img {
    
  margin :0 auto;
  width: 252px;
  height: 233px;
  background: rgba(200,194,180,1);
  opacity: 1;
  position: absolute;
  border-radius: 50%;
    
  border: none;
    
}

.title_txt {
  width: 252px;
  height: 233px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Sahitya;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center; 
  bottom: 50;
}
.message_txt {
  width: 252px;
  height: 233px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Sahitya;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
    
  bottom: 0;
}


.vbook_clublist {
  width: 100%;
  height: 338px;
  background: rgba(0,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1300px;
  left: 28px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
