/* @import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'; */
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
/*   font-size: 35px; */
}

.section_subtitle {
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  color: black;
}

.section_subtitle::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 170px;
  background-color: black;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
}

.single-team{
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow:5px 5px 15px #000;
}

.team-img{
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.team-img img{
  width: 100%;
  transition: .3s;
}
.single-team:hover .team-img img {
  transform: scale(1.1);
}
.team-content {
  height: 80px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  transition: all .4s;
  background: #F3DCD4;
  z-index:5;
}
.single-team:hover .team-content{
  height: 150px;
}
.team-info {
  padding: 5px 20px 5px 20px;
  transition: all .5s;
}
.single-team:hover .team-content{
  background: #000;
}
.single-team .team-content .team-info h3 {
/*   text-transform: uppercase; */
  color: #000;
  font-size: 16px;
  margin: 5px;
}
.single-team:hover .team-info h3{
  color: #F3DCD4;
}
.team-info p {
  margin-top: 15px;
  color: #000;
}
.single-team-text p{
  margin-top: 5px;
}
.team-text {
  color: #fff;
  padding: 0 10px 5px;
}

/* .axel {
  height: auto;
} */


