<div class = "general_page">
    <h2>{{ book_title }}</h2>
    <h4>{{ author}}</h4>
<!--     <h2>{{ web }}</h2>
    <h2>{{ cover }}</h2> -->
    <img src={{cover}} alt={{book_title}} width="200" height="300">
    <br>
    <a href={{web}}> <button class="book_button">For More Information</button></a>
    <br>
    
    <!--  Adding Button to Favorite Bookshelf    -->
<!--     <a href="/book_page"> <button class="home_button">Add to Favorite Bookshelf</button> </a> -->
    <form method="POST">
<!--       <input type="hidden" name="business" value="True">
 -->
      <!-- Display the payment button. -->
      <input type="image" name="submit"
        src="https://image.flaticon.com/icons/png/512/1517/1517856.png"
        alt="Add to Cart" value="True" width="48" height="48">
<!--       <img alt="" width="1" height="1"
        src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"> -->
    </form>
    <!--  END    -->
    
    <div class="dcontent_home">
        <ul>
            {% for data in prices %}
            
                    <a href={{data[2]}}> <button class="home_button">
                        <p>{{data[3]}}</p>
                        <br>
                        {{data[0]}}
                        <br>
                        <p>${{data[1]}}</p>
                        </button> </a>
<!--                     <p>{{data[3]}}</p>
                    <a href={{data[2]}}> {{data[0]}}</a>
                    <p>${{data[1]}}</p>   -->
 
            {% endfor %}
        </ul>
    </div>
    
    <br>
    <br>
</div>
<div class="other_books">
    <h5>Other Related Books</h5>
    <br>
    {% for key,value in recs.items() %}
        <a href="/book_page/{{key}}"><button class="book_cover_button"><img class="book_cover" src={{key}} alt={{key}}> </button></a>     
        
    {% endfor %}
    <br>
</div>
{% extends "layout.html" %}
{% block content %}
{% endblock content %}