<div class="home_img">
    <div class= "searchnav" style="width:800px; margin:0 auto;">
<!--             <button class="drop-down-button_home">Books</button> -->
        <div class="dcontent_home">
            <ul>
                <a href="/search"> <button class="home_button">Books</button> </a>
                <a href="/search_author"> <button class="home_button">Author</button> </a>
                <a href="/search_ISBN"> <button class="home_button">ISBN Number</button> </a>
                <a href="/search_topics"> <button class="home_button">Topics</button> </a>
                <a href="/search_open_ID"> <button class="home_button">ID</button> </a>

            </ul>
        </div>
      
        <form method="POST" action="/home" >
<!--             <button class ="home_button">Options</button> -->
            <input type="text" name="q" placeholder="Search Book..">                
<!--             <input class ="home_button2" type="submit" name="form" value="Submit"> -->
        </form>
    </div>
</div>

<!-- TOP BOOKS -->
<div class="books">
<h3 style="color:black">Top Books</h3>
<div class="slide_show_container">
    <button class= "left" onClick="plusSlides(-1)">&#10094;</button>
    <button class= "right" onClick="plusSlides(1)">&#10095;</button>
    <div class="slide_fade"> 
        <img src="https://covers.openlibrary.org/b/id/10528214-L.jpg" alt="Book1" width="200" height="300">
        <img src="https://www.portersquarebooks.com/sites/portersquarebooks.com/files/teaspoonearthandsea.jpg" alt="Book1" width="200" height="300">
        <img src="https://covers.openlibrary.org/b/id/10528214-L.jpg" alt="Book1" width="200" height="300">
        <img src="https://www.portersquarebooks.com/sites/portersquarebooks.com/files/teaspoonearthandsea.jpg" alt="Book1" width="200" height="300">
    </div>
    <div class="slide_fade">
        <img src="https://covers.openlibrary.org/b/id/10528214-L.jpg" alt="Book1" width="200" height="300">
        <img src="https://www.portersquarebooks.com/sites/portersquarebooks.com/files/teaspoonearthandsea.jpg" alt="Book1" width="200" height="300">
        <img src="https://www.portersquarebooks.com/sites/portersquarebooks.com/files/teaspoonearthandsea.jpg" alt="Book1" width="200" height="300">
        <img src="https://covers.openlibrary.org/b/id/10528214-L.jpg" alt="Book1" width="200" height="300">
   </div>
</div>
</div>

<!-- MOST SEARCHED FOR TEXTBOOKS -->
<div class="textbooks">
<h3 style="color:black">Most Searched For Textbooks</h3>
<div class="slide_show_container_textbook">
    <button class= "left" onClick="plusSlides2(-1)">&#10094;</button>
    <button class= "right" onClick="plusSlides2(1)">&#10095;</button>
    <div class="slide_fade2">
    <img src="https://www.portersquarebooks.com/sites/portersquarebooks.com/files/teaspoonearthandsea.jpg" alt="Book1" width="200" height="300">
    <img src="https://covers.openlibrary.org/b/id/10528214-L.jpg" alt="Book1" width="200" height="300">
    <img src="https://www.portersquarebooks.com/sites/portersquarebooks.com/files/teaspoonearthandsea.jpg" alt="Book1" width="200" height="300">
    <img src="https://covers.openlibrary.org/b/id/10528214-L.jpg" alt="Book1" width="200" height="300">
    </div>
    <div class="slide_fade2">
    <img src="https://covers.openlibrary.org/b/id/10528214-L.jpg" alt="Book1" width="200" height="300">
    <img src="https://covers.openlibrary.org/b/id/10528214-L.jpg" alt="Book1" width="200" height="300">
    <img src="https://www.portersquarebooks.com/sites/portersquarebooks.com/files/teaspoonearthandsea.jpg" alt="Book1" width="200" height="300">
    <img src="https://covers.openlibrary.org/b/id/10528214-L.jpg" alt="Book1" width="200" height="300">
    </div>
</div>
</div>

<!-- MISSION STATEMENT  -->
<div class="Mission">
    <h1>Mission Statment </h1>
    <p style="font-size:20px"> Whether you're in college or simply enjoy reading, we strive to provide the best access to your favorite books and textbooks.</p>
    <p style="font-size:20px"> Rest Of Statement Here</p>
</div>

<!-- SOURCE: https://www.w3schools.com/howto/howto_js_slideshow.asp -->
<script> 
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("slide_fade");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      slides[slideIndex-1].style.display = "block";
//       dots[slideIndex-1].className += " active";
    }
    
//     SECOND slideshow
     var slideIndex2 = 1;
    showSlides2(slideIndex2);

    // Next/previous controls
    function plusSlides2(n) {
      showSlides2(slideIndex2 += n);
    }

    // Thumbnail image controls
    function currentSlide2(n) {
      showSlides2(slideIndex2 = n);
    }

    function showSlides2(n) {
      var i;
      var slides = document.getElementsByClassName("slide_fade2");
      if (n > slides.length) {slideIndex2 = 1}
      if (n < 1) {slideIndex2 = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      slides[slideIndex2-1].style.display = "block";
    }   
   
</script>


{% extends "layout.html" %}
{% block content %}
{% endblock content %}