
        <div class="v42_58"><div class="v97_8">
            <div class="v97_7"></div>
            <div class="v42_60"></div>
        </div>
            <div class="v42_64"></div>
            <span class="v42_65"># My Bookshelf</span>
            <div class="v42_66"></div>
            <span class="v42_67">Visual: % Fav Genre</span>
            <div class="v42_68"></div>
            <span class="v42_69">Visual: % Fav  topic</span>
            <div class="v42_70"></div>
            <span class="v97_9">Profile Message</span>
            <span class="v97_10">Username
</span></div>

{% extends "layout.html" %}
{% block content %}
    <h2>{{ subtitle }}</h2>
    <h2>{{ text }}</h2>
{% endblock content %}