
       <!-- <div class="v42_58">
            <div class="v97_8">
                <div class="v97_7"></div>
                <div class="v42_60"></div>
            </div>-->
         
<!-- TOP BOOKS -->

<body>
    <div class="user_back_img">
        
        <div class="profile_class">
            <div class="round_img"></div>
            <span class="title_txt">Username</span>
            <span class="message_txt">Profile Message</span>
        </div>
        
        <div class="second_row">
            <div class="fav_genre_class">
                <div class="round_img"></div>
                <span class="title_txt"> Fav Genre</span>
                <span class="message_txt">Profile Message</span>
            </div>
            <div class="fav_topic_class">
                <div class="round_img"></div>
                <span class="title_txt"> Fav Topic</span>
                <span class="message_txt">Profile Message</span>
            </div>
        </div>
    
    </div>
     
     <!-- MyBooks Shelf-->
   <div class="books">
<h3 style="color:black">Top Books</h3>
<div class="slide_show_container">
    <button class= "left" onClick="plusSlides(-1)">&#10094;</button>
    <button class= "right" onClick="plusSlides(1)">&#10095;</button>
    <div class="slide_fade"> 
        {% for key,value in top_books[0].items() %}
            <a href=""><button class="book_cover_button"><img class="book_cover" src={{key}} alt={{key}}> </button></a>
            
        {% endfor %}
    </div>
    <div class="slide_fade">
        {% for key,value in top_books[1].items() %}
            <a href=""><button class="book_cover_button"><img class="book_cover" src={{key}} alt={{key}}> </button></a>
            
        {% endfor %}
   </div>
   <div class="slide_fade">
        {% for key,value in top_books[2].items() %}
            <a href=""><button class="book_cover_button"><img class="book_cover" src={{key}} alt={{key}}> </button></a>
            
        {% endfor %}
   </div>
</div>
</div>
            
            
            
                        
            <span class="v103_11">Book Clubs</span>
            <div class="vbook_clublist">
            
</div>
            
            



    
{% extends "layout.html" %}
{% block content %}
    <h2>{{ subtitle }}</h2>
    <h2>{{ text }}</h2>
{% endblock content %}